header{
    position: relative;
}
header #logos{
    position: absolute;
    top: 17px;
    left: 45px;
    width: 410px;
    height: 100px;
    display: flex;
}
header #logoMichelin{
    height: 87px;
}
header #logoEbay{
    height: 96px;
}
header h1{
    position: absolute;
    top: 17px;
    right: 45px;
    font-size: 5rem;
    font-family: 'Caveat', cursive;
}
header #logoAnniv{
    position: absolute;
    margin-left: 50%;
    left: -81px;
    top: 50%;
}
header nav{
    position: absolute;
    right: 45px;
    width: 380px;
    height: 42px;
    border: 1px solid black;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
header nav ul li{
    display: inline-block;
    list-style-type: none;
}
header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
}